.placeholder {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Lucida Console, Monaco, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
    /* cursor: context-menu; */
    /* background-color: rgb(197, 184, 169); */
    border: none;
    overflow: hidden;

}

.main {
    margin-top: 60px;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:  rgb(121, 106, 103);
    padding: 15px;
    z-index: 10;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }

li {
float: left;
}

li a {
    margin-left: 20px;
}


.content {
    display: flex;
    justify-content: space-between;
}

h1 {
/* color:rgb(186, 185, 185); */
color: rgb(121, 106, 103);
/* font-family: "Lucida Console", Monaco, monospace; */
/* font-family: Garamond; */
/* font-family: Copperlate; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: normal;
text-transform: uppercase;
font-size: 50px;
padding-top: 3%;

}

h2 {
    color: rgb(121, 106, 103);
    text-transform: uppercase;
    position: relative;
    font-size: 32px;
}

h2 span {
    position:absolute; 
    top:-60px;
}

h3 {
    color: rgb(121, 106, 103); 
    margin-left: 10px;
    font-size: 25px;
    font-weight: 100;
}

img {
    height: 400px;
}

.right-side {
    /* justify-content: right; */
    /* text-align: right; */
    /* float: right; */
    /* margin-right: 60px; */
    /* width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: right; */
    /* align-content: right; */
    /* position: left; */
    /* margin-left: 60%; */
    /* margin-right: 5%; */
    /* float: right; */
    /* position: absolute; */
    /* right: 10%; */
    margin-right: 10%;
    max-width: 40%;
    /* float: right; */
}

.portrait img {
    height: 400px;
    border-radius: 50%;
}

.left-side {
    /* margin-right: 20px; */
    text-align: left;
    /* max-width: 40%; */
    min-width: 40%;
    max-width: 50%;
    /* margin-left: 60px; */
    margin-left: 10%;
    float: left;

}

a {
    text-decoration: none;
    /* cursor: pointer; */
    color: white;
}

#more {
    display:none;
}

#iprogBtn {
    border: none;
    background: none;
    cursor: pointer;
    outline:none;
    font-weight: bold;
    font-size: 18px;
    color:  rgb(121, 106, 103);
    padding: 10px;
    font-size: 25px;
    font-weight: 100;
}

#more2 {
    display:none;
}

#mobilutBtn {
    border: none;
    background: none;
    cursor: pointer;
    outline:none;
    font-weight: bold;
    font-size: 18px;
    color:  rgb(121, 106, 103);
    padding: 10px;
    font-size: 25px;
    font-weight: 100;
}

.readandsee img {
    height: auto;
    max-height: 400px;
    width: auto;
    /* max-width: 700px; */
}

.inwinetation img {
    height: auto;
    max-height: 400px;
    width: auto;
    max-width: 400px;
}

.bottom {
    text-align: center;
    /* position: fixed; */
    /* position: absolute;
    bottom: 0px;
    left: 0; */
    /* width: 100%; */
    /* align-content: center; */
    /* left: 50%; */
    /* background-color: 	rgb(220, 220, 220); */
    /* padding: 15px; */
    padding-bottom: 5%;

    
}

.bottom a {
    color: black;
}

/* #topBtn {
    position: fixed;
    bottom: 20;
    font-size: 20px;
    cursor: pointer; 
    background-color: none;
    border-radius: 50%;
    outline: none;
    background-color:  rgb(121, 106, 103);
} */

/* .readsee{
    margin-left: 100px;
} */

.inwine{
    /* margin-left: 100px; */
    margin-left: 15%;
}

.murdermystery{
    /* margin-left: 100px; */
    margin-left: 15%;
}

.startender{
    /* margin-left: 100px; */
    margin-left: 15%;
}

#img{
    /* margin-left: 500px;
    display: block; */
    /* float: right; */
    /* float: left;  */
    /* float: right; */
    max-height: 250px;
    padding-left: 3%;
    padding-bottom: 3%;
}

/* #img-furhat{
    margin-left: 500px;
} */


.middle{
position: absolute;
margin-top: 600px;
text-align: left;
margin-left:10%;
margin-right: 10%;
}

.text{
    max-width: 50%;
    /* display: flex; */
    /* justify-content: space-between; */
    float: left; 
}

a:hover{
    font-weight: 600;
}